//STOCKAGE DES VARIABLES
$ThemeColor:#177485;
$BG:rgb(240, 240, 245);
$FULL:100%;

*{
    margin: 0;
    padding:0;
}
body{
 overflow: hidden;
    background-image:url('img/bg.jpg')
}
.endi{
    width:$FULL;
    height:50px;
    background-color:$ThemeColor;
   
   
}
.log-part{
    width: 60%;
    background-color:rgba(253, 253, 253, 0.4);
    height:720px;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;

   padding-top:50px;

}
.login{
   
    width: 50%;
    height:300px;
    margin:0 auto;
    margin-left:50px;
    input{
        width:230px;
        height:30px;
        border-radius: 30px;
        outline-style: none;
        margin-bottom:30px;
        margin-top:10px;
       border-style: none;
       background-color:rgba(12, 31, 12, 0.2);

    }
    label{
        font-size:17px;
        font-weight:600;
        color:white
    }
    button{
        width:110px;
        height:30px;
        border:none;
        background-color:$ThemeColor;
        color:white;
        cursor:pointer;
        margin-top:-10px;
        
   border-radius: 20px;;
    


    }
}


.fadeIn{
    animation: fadeIn 3s;
  }

  @keyframes fadeIn{
      from{
         opacity: 0;
         margin-right:400px  
      }
      to{
             opacity: 1;
             
      }
  }
/*
.fadeIn2{
    animation: fadeIn2 3s;
  }
@keyframes fadeIn2{
    from{
       opacity: 0;
       margin-left:400px  
    }
    to{
           opacity: 1;
           
    }
}*/



  .regis{
      width:100%;
      height:100px;
  }
  .sign{
      width:50%
  }
  .sign-part{
   
        width: 60%;
        background-color:rgba(253, 253, 253, 0.6);
        height:720px;
        border-top-left-radius:50px;
        border-bottom-left-radius:50px;
   margin-left:290px;
       padding-top:50px;
    
    }
    .logs{
        width:100%;
       display:flex;
       justify-content:space-between;
    }
    .log{
        width:50%;
    }

  